.home {
    background-image: url("../assets/backgrounds/h_img.jpg");
    background-size: cover;
    text-align: center;
    height: 500px;
    background-repeat: no-repeat;
}
.about{
    text-align: center;
}
.services{
    background-size: cover;
    text-align:center;
    background-image: url("../assets/backgrounds/s_image.jpg");
    color: white;
    height: 200px;
}

.whatwedo{
    text-align: center;
}

.portfolio{
    text-align: center;
    
}
.portfolio img{
    padding: 10px;
    -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
  -moz-column-gap: 40px; /* Firefox */
  column-gap: 40px;
}

.contact{
    background-image: url("../assets/backgrounds/c_image.jpg"); 
    height: 500px;  
    background-size:cover; 

}
.social{
    text-align: center;
}
.form-control{
    width: 500px;
}

